@import "tailwindcss";



/* En Tailwind v4, los colores personalizados se agregan así: */
@theme {
  --color-main-blue: #2563EB;
  --color-kinal-red: #E53E3E;
  --color-kinal-orange: #ED8936;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fef3c7; /* El amarillo suave para tus ojos */
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-6px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}